.aboutUsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.aboutUsDiv h2 {
    border-bottom: 1px solid #DCDBDB;
    padding-bottom: 20px;
    width: 600px;
    text-align: initial;
}

.aboutUsDiv h5 {
    text-align: initial;
}

.contactImg {
    width: 600px;
    margin-bottom: 10px;
}

.aboutUsDiv div p {
    width: 600px;
    text-align: justify;
}
