.CardItem{
    margin: 10px;
    text-decoration: none;
    background: rgb(160, 160, 160);
    border-radius: 5%;
    box-shadow: 1px 1px 5px;

}

img{
    border-radius: 5% 5% 0px 0px;;
}

ul{

    margin: 0;
    padding: 0;
    list-style-type: none;
}