td{
    padding: 15px;
}

.asd{
    background-color: rgb(131, 131, 236);
}

.assd{
    background-color: rgb(201, 201, 201);
}

.btn_client{
    min-width: 100%;
    min-height: 100%;
}
.tdbtn{
    margin: 5;
    padding: 5;
}