.inputLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1Login {
    border-bottom: 1px solid #DCDBDB;
}

.inputLogin input {
    padding: 5px;
    border-radius: 20px;
    width: 300px;
}

.helpLogin {
    margin: 15px;
}

.buttonLogin {
    margin: 10px;
}